<!-- Breadcrumb Section Begin -->
<!-- <div class="breacrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-text product-more">
          <a routerLink="home"><i class="fa fa-home"></i> Home</a>
          <a routerLink="shop">Shop</a>
          <span>Shopping Cart</span>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- Breadcrumb Section Begin -->

<!-- Shopping Cart Section Begin -->
<section class="shopping-cart spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="cart-table">
          <table>
            <thead>
              <tr>
                <th>Client Name</th>
                <th class="p-name">Service Name</th>
                <th>Date</th>
                <th>Status</th>
                <th>Price</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let booking of BookingList">
                <td class="cart-pic first-row">{{booking.My_Client.FIRST_NAME}}</td>
                <td class="cart-title first-row">
                  <h5>{{booking.My_Service_prod.NAME}}</h5>
                </td>
                <td class="p-price first-row">{{booking.DATE}}</td>
                <td class="qua-col first-row">{{booking.My_Service_prod.PRICE}</td>
                <td class="total-price first-row">{{booking.My_Status.NAME}}</td>
                <td class="close-td first-row">{{booking.My_Feedbacks[0].RATING}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-lg-4 offset-lg-8">
            <div class="proceed-checkout">
              <ul>
                <li class="subtotal">Subtotal <span>$240.00</span></li>
                <li class="cart-total">Total <span>$240.00</span></li>
              </ul>
              <a routerLink="/check-out" class="proceed-btn">PROCEED TO CHECK OUT</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Shopping Cart Section End -->
